# Ignore everything by default
/*

# ...except the homepage preview and its local assets
!.gitignore
!index.html
!wag_logo.png
!david-thorne-pic.jpg
!Jason-Cohen-pic.jpg
!Joe-Final-pic.jpg
!lauren-coverdale-pic.jpg
!executives.jpg
!pre-retirees-retirees.jpg
!business-owners-contractors.jpg
!life-transitions.jpg
!hero-image.jpg
